body {
  margin: 0;
}

#navbar {
  height: 100px;
  width: 100%;

  border: 1px solid green;
  z-index: 1;
  background-color: aqua;
}
#Prcontainer {
  display: flex;
  margin-bottom: 10%;
}

#Prsidebar {
  /* //padding-top:100px; */
  display: block;
  margin-top: 200px;
  margin-left: 1%;
  width: 280px;
  position: fixed;
  /* border:1px solid red; */
  height: auto;
  /* z-index: -1; */
  top: 0;
  left: 0;
  line-height: 50px;
  font-size: 15px;
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-y: scroll;
}
#Prcollection {
  height: 400px;
  width: 100%;
  border: 1px solid red;
  align-items: center;
  padding: 15px 0px 0px 0px;
  margin-top: 200px;
}
#Prcollectionname {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
}
#PrRunning,
#PrGolf,
#PrAthleisure,
#PrNewArrival,
#PrHiking {
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: medium;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

#Prsidebar:hover {
  cursor: pointer;
}
#Prpagetitle {
  margin-left: 300px;
  /* border:1px solid green;   */
  box-sizing: border-box;
  height: auto;
}
#Prmentitle {
  margin-bottom: -10px;
}
#Prproductdisplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: auto;
  margin-left: 300px;
  margin-top: 150px;
  position: sticky;
  right: 100px;
  gap: 30px;
}
#Prcategory,
#Prbrand,
#Prfit,
#Prgender,
#Prmaterial,
#Procassion,
#Prprice {
  display: flex;
  font-weight: bold;
  padding-left: 10px;
}

.Prgenderdropdown {
  padding-left: 10px;
  display: none;
}
#Male,
#Female,
#Unisex {
  display: block;
}

.Prcategorydropdown {
  padding-left: 10px;
  display: none;
}
#Shirts,
#Jackets,
#Shorts,
#Socks,
#Pants {
  font-size: larger;
  display: block;
}

.Prbranddropdown {
  padding-left: 10px;
  display: none;
}
#Adidas,
#CalvinKlein,
#Nike,
#Spyder#ZbyZella {
  display: block;
}

.Prfitdropdown {
  padding-left: 10px;
  display: none;
}

#Slimfit,
#Regularfit,
#Straightfit,
#Classicfit,
#Relaxedfit {
  display: block;
}

#Prsorting {
  border: 1px solid Black;
  margin-left: 80%;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 40px;
  padding: 5px 5px 5px 5px;
}
.Prdescription {
  color: grey;
}
.Prdescripton:hover {
  text-decoration: underline;
}

.Prquickview {
  border: 1px solid grey;
  z-index: 1;
  position: relative;
  display: flex;
  margin-top: -10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: teal;
  background-color: white;
}
.Prquickview:hover {
  cursor: pointer;
}
label {
  font-size: large;
}
