@import url(//db.onlinewebfonts.com/c/38292514d8f80b45216b865422916b0b?family=Brandon+Text);

#fter {
  background-color: rgb(250, 250, 250);
  padding: 40px;
}
#linksdiv {
  display: flex;
  margin-left: 40px;
}
.list > div {
  padding-bottom: 7%;
  width: 170px;
}

.list a {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  font-family: "Lucida Sans", sans-serif;
}
.list a:hover {
  color: teal;
}
#linksdiv > div {
  margin-right: 20px;
}
#linksdiv h4 {
  color: black;
}

#social {
  width: 500px;
  margin-right: 0px;
}

#logoCollector {
  padding: 3%;
  display: flex;
}
#logoCollector > a {
  font-size: 18px;
  margin-right: 20px;
  color: grey;
}
#logoCollector > a:nth-child(1):hover {
  color: blue;
}
#logoCollector > a:nth-child(2):hover {
  color: blue;
}
#logoCollector > a:nth-child(3):hover {
  color: red;
}
#logoCollector > a:nth-child(4):hover {
  color: rgb(233, 64, 70);
}

#sContainer {
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 2000;
  background-color: #fff;
  font-family: Brandon Text;
  padding-left: 10px;
  padding-right: 10px;
}
